main>div {
    margin: auto;
    border-radius: 5%;
    width: 25rem;
    padding: 2rem;
    background-color: var(--dark);
    filter: drop-shadow(10px 10px 0px rgba(210, 218, 233, 0.5));
}

main>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h2,
h4 {
    color: var(--light);
}

h2 {
    font-size: xx-large;
    text-decoration: underline;
    margin: 1rem;
}

h4 {
    font-size: large;
    margin: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--light);
}

input {
    border-radius: 10px;
}

.btn {
    padding: 0.5rem;
    margin-top: 1rem;
    width: 100%;
    background-color: var(--primary);
    border: solid 3px var(--light);
    font-size: x-large;
    color: var(--light);
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    transition: var(--transitionSpeed);
}

.btn:hover {
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.25);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.50);
}

input[type=email],
input[type=password] {
    background-color: var(--white);
    border: none;
    padding: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    color: var(--black);
}

input {
    outline: none;
}

input[type=email]::placeholder,
input[type=password]::placeholder {
    color: var(--black);
}

form>div:focus-within,
form>div:hover {
    box-shadow: inset 0px 0px 0px 3px var(--primary);
}

form>div {
    width: 100%;
    border-radius: 2rem;
    margin: 0.5rem;
    background-color: var(--white);
    display: flex;
    align-items: center;
    box-shadow: inset 0px 0px 0px 3px var(--light);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.50));
    transition: var(--transitionSpeed);
}