textarea {
    resize: none;
}

main div {
    width: 100%;
}

.hrou {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hrou>h3 {
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

main>div {
    width: 30rem;
    border-radius: 15px;
    color: var(--light);
    background-color: var(--dark);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    filter: drop-shadow(10px 10px 0px rgba(210, 218, 233, 0.5));
}

main>div>span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone,
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.phone>i,
.email>i {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--white);
    margin-right: 0.5rem;
}

form {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form label {
    margin-left: 0.5rem;
}

form>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

form input,
form textarea {
    border: none;
    padding: 0.5rem;
    margin-top: 0.25rem;
    color: var(--black);
    width: 100%;
    border-radius: 15px;
    box-shadow: inset 0px 0px 0px 3px var(--light);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.50));
    transition: var(--transitionSpeed);
    outline: none;
}

form input:hover,
form textarea:hover,
form input:focus,
form textarea:focus {
    box-shadow: inset 0px 0px 0px 3px var(--primary);
}

form input[type=submit] {
    margin-top: 1rem;
    box-shadow: inset 0px 0px 0px 3px var(--primary);
    font-size: x-large;
    color: var(--light);
    cursor: pointer;
    transition: var(--transitionSpeed);
    background-color: var(--primary);
    border: solid 3px var(--light);
}

form input[type=submit]:hover {
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.25);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.50);
}

form label span {
    color: red;
}

form input::placeholder,
form textarea::placeholder {
    color: var(--black);
}