main {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 3rem;
}

.gauche,
.droite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 30rem;
    padding: 1rem;
    background-color: var(--light);
    border: 2px solid #0D0D0D;
    box-shadow: 10px 10px 0px rgba(210, 218, 233, 0.5);
}

.gauche {
    align-items: flex-start;
    justify-content: flex-start;
}

#table_wrapper {
    width: 100%;
}

table {
    text-align: start;
    border-collapse: collapse;
    padding: 1rem;
    width: 100%;
}

thead {
    background-color: var(--dark);
    border: 2px solid #0D0D0D;
    color: var(--white);
}

tbody {
    background-color: var(--light);
}

th,
td {
    text-align: start;
    padding: 0.5rem;
}

tbody>tr:nth-child(2n) {
    background-color: var(--white) !important;
}

tbody>tr {
    transition: var(--transitionSpeed);
}

tbody>tr:hover {
    background-color: var(--primary) !important;
    color: var(--white) !important;
    box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.50);
}

.btn-group {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

tr>td:last-child {
    padding: 0 !important;
}

.btn-red,
.btn-green {
    padding: 0.25rem;
    width: 30%;
    height: 100%;
    text-align: center;
}

.btn-green a,
.btn-red a {
    text-decoration: none;
}

a>i {
    color: var(--white);
}

.btn-group>*:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-group>*:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-red {
    transition: var(--transitionSpeed);
    background-color: red;
}

.btn-red:hover {
    background-color: rgb(194, 0, 0);
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-green {
    transition: var(--transitionSpeed);
    background-color: limegreen;
}

.btn-green:hover {
    background-color: rgb(41, 163, 41);
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

form {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form label {
    margin-left: 0.5rem;
}

form>div>div {
    width: 100%;
}

form>div {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

form input,
.custom-select {
    border: none;
    padding: 1rem;
    margin-top: 0.25rem;
    color: var(--black);
    width: 100%;
    border-radius: 25px;
    box-shadow: inset 0px 0px 0px 5px var(--light);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.50));
    transition: var(--transitionSpeed);
    outline: none;
}

form input:hover,
form input:focus,
.custom-select:hover,
.custom-select:focus,
.custom-select:focus .custom-arrow,
.custom-select:hover .custom-arrow {
    box-shadow: inset 0px 0px 0px 5px var(--primary);
}

form input[type=submit] {
    margin-top: 1rem;
    box-shadow: inset 0px 0px 0px 5px var(--primary);
    font-size: x-large;
    color: var(--light);
    cursor: pointer;
    transition: var(--transitionSpeed);
    background-color: var(--primary);
    border: solid 3px var(--light);
}

form input[type=submit]:hover {
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.25);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.50);
}

form input::placeholder {
    color: var(--black);
}

.custom-select {
    background-color: white;
    padding: 0.5rem;
}

.custom-select>select {
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
}