main {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 3rem;
}

.gauche,
.droite {
    min-height: 30rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--light);
    border: 2px solid #0D0D0D;
    box-shadow: 10px 10px 0px rgba(210, 218, 233, 0.5);
}

#table_wrapper {
    width: 100%;
}

table {
    text-align: start;
    border-collapse: collapse;
    padding: 1rem;
    width: 100%;
}

thead {
    background-color: var(--dark);
    border: 2px solid #0D0D0D;
    color: var(--white);
}

tbody {
    background-color: var(--light);
}

th,
td {
    text-align: start;
    padding: 0.5rem;
}

tbody>tr:nth-child(2n) {
    background-color: var(--white) !important;
}

tbody>tr:hover {
    background-color: var(--primary) !important;
    color: var(--white) !important;
}

.btn-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-red,
.btn-green {
    width: 25%;
    height: 50%;
    text-align: center;
}

.btn-green a,
.btn-red a {
    text-decoration: none;
}

a>i {
    color: var(--white);
}

.btn-group>*:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-group>*:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-red {
    background-color: red;
}

.btn-green {
    background-color: limegreen;
}