main {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.swiper-container {
    width: 100%;
    height: 57rem;
}

.swiper-slide {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1fr;
    grid-template-areas: "img txt txt";
}

.swiper-slide:nth-child(2n) {
    grid-template-areas: "txt txt img";
}

.swiper-slide.header {
    grid-template-areas: "head head head";
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: var(--primary);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.50);
    text-transform: uppercase;
}

.swiper-slide>div {
    padding: 1rem;
    height: 100%;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide>.img {
    grid-area: img;
}

.swiper-slide>.txt {
    grid-area: txt;
}

.swiper-slide.header>div {
    grid-area: head;
}

.swiper-slide:nth-child(2n)>div {
    background-color: var(--light);
}